docs/_build
_build
build
src/gRPC/build
src/gRPC/unit_test/build
src/gRPC/unit_test/Testing
file*.json
.reports
NVMUpdatePackage
*.a
*.sdp
grpc
nmos-cpp*

# pipeline configuration and input files
*.yuv
VARIABLES.rc

# local installation directory
local_debians
.temp.env
__pycache__
*.csv
