docs/_build
_build
gRPC/build
gRPC/unit_test/build
gRPC/config_parser/build
file*.json
.reports
NVMUpdatePackage

# pipeline configuration and input files
src
*.yuv
VARIABLES.rc

# local installation directory
local_debians
.temp.env
