# Copyright 2024.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# SPDX-FileCopyrightText: Copyright (c) 2024 Intel Corporation
#
# SPDX-License-Identifier: BSD-3-Clause
#
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: bcsconfigs.bcs.bcs.intel
spec:
  group: bcs.bcs.intel
  names:
    kind: BcsConfig
    listKind: BcsConfigList
    plural: bcsconfigs
    singular: bcsconfig
  scope: Namespaced
  versions:
    - name: v1
      schema:
        openAPIV3Schema:
          description: BcsConfig is the Schema for the bcsconfigs API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                  scheduleOnNode:
                    type: array
                    items:
                      type: string
                  doNotScheduleOnNode:
                    type: array
                    items:
                      type: string
                  app:
                    type: object
                    properties:
                      image:
                        type: string
                      grpcPort:
                        type: integer
                      environmentVariables:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      volumes:
                        type: object
                        additionalProperties:
                          type: string
                      resources:
                        type: object
                        properties:
                          requests:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                              hugepages-1Gi:
                                type: string
                              hugepages-2Mi:
                                type: string
                          limits:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                              hugepages-1Gi:
                                type: string
                              hugepages-2Mi:
                                type: string
                  nmos:
                    type: object
                    properties:
                      image:
                        type: string
                      args:
                        type: array
                        items:
                          type: string
                      environmentVariables:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      nmosApiNodePort:
                        type: integer
                      resources:
                        type: object
                        properties:
                          requests:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                              hugepages-1Gi:
                                type: string
                              hugepages-2Mi:
                                type: string
                          limits:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                              hugepages-1Gi:
                                type: string
                              hugepages-2Mi:
                                type: string
                      nmosInputFile:
                        type: object
                        properties:
                          logging_level:
                            type: integer
                          http_port:
                            type: integer
                          label:
                            type: string
                          device_tags:
                            type: object
                            properties:
                              pipeline:
                                type: array
                                items:
                                  type: string
                          function:
                            type: string
                          multiviewer_columns:
                            type: integer
                          stream_loop:
                            type: integer
                          activate_senders:
                            type: boolean
                          gpu_hw_acceleration:
                            type: string
                          gpu_hw_acceleration_device:
                            type: string
                          domain:
                            type: string
                          ffmpeg_grpc_server_address:
                            type: string
                          ffmpeg_grpc_server_port:
                            type: string
                          default_source_ip:
                            type: string
                          default_destination_ip:
                            type: string
                          default_source_port:
                            type: integer
                          default_destination_port:
                            type: integer
                          default_interface_ip:
                            type: string
                          sender_payload_type:
                            type: integer
                          sender:
                            type: array
                            items:
                              type: object
                              properties:
                                stream_payload:
                                  type: object
                                  properties:
                                    video:
                                      type: object
                                      properties:
                                        frame_width:
                                          type: integer
                                        frame_height:
                                          type: integer
                                        frame_rate:
                                          type: object
                                          properties:
                                            numerator:
                                              type: integer
                                            denominator:
                                              type: integer
                                        pixel_format:
                                          type: string
                                        video_type:
                                          type: string
                                        preset:
                                          type: string
                                        profile:
                                          type: string
                                    audio:
                                      type: object
                                      properties:
                                        channels:
                                          type: integer
                                        sampleRate:
                                          type: integer
                                        format:
                                          type: string
                                        packetTime:
                                          type: string
                                stream_type:
                                  type: object
                                  properties:
                                    st2110:
                                      type: object
                                      properties:
                                        transport:
                                          type: string
                                        payloadType:
                                          type: integer
                                        queues_cnt:
                                          type: integer
                                    file:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                        filename:
                                          type: string
                                    mcm:
                                      type: object
                                      properties:
                                        conn_type:
                                          type: string
                                        transport:
                                          type: string
                                        urn:
                                          type: string
                                        transportPixelFormat:
                                          type: string
                          receiver:
                            type: array
                            items:
                              type: object
                              properties:
                                stream_payload:
                                  type: object
                                  properties:
                                    video:
                                      type: object
                                      properties:
                                        frame_width:
                                          type: integer
                                        frame_height:
                                          type: integer
                                        frame_rate:
                                          type: object
                                          properties:
                                            numerator:
                                              type: integer
                                            denominator:
                                              type: integer
                                        pixel_format:
                                          type: string
                                        video_type:
                                          type: string
                                        preset:
                                          type: string
                                        profile:
                                          type: string
                                    audio:
                                      type: object
                                      properties:
                                        channels:
                                          type: integer
                                        sampleRate:
                                          type: integer
                                        format:
                                          type: string
                                        packetTime:
                                          type: string
                                stream_type:
                                  type: object
                                  properties:
                                    file:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                        filename:
                                          type: string
                                    st2110:
                                      type: object
                                      properties:
                                        transport:
                                          type: string
                                        payloadType:
                                          type: integer
                                        queues_cnt:
                                          type: integer
                                    mcm:
                                      type: object
                                      properties:
                                        conn_type:
                                          type: string
                                        transport:
                                          type: string
                                        urn:
                                          type: string
                                        transportPixelFormat:
                                          type: string
            status:
              description: BcsConfigStatus defines the observed state of BcsConfig
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
