name: Coverity reports

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'scanned branch name'
        required: true
        type: string
      commit:
        description: 'scanned commit hash'
        type: string
        required: true

jobs:
  generate_reports:
    runs-on: ubuntu-latest
    steps:
      - name: 'setup: checkout repo'
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7 

      - name: 'coverity: setup python'
        run: pip3 install pandas

      - name: 'coverity: generate_reports'
        working-directory: ${{ github.workspace }}/.github/coverity
        run: python3 report.py  ${{ inputs.branch }} ${{ inputs.commit }}
        env:
          COVERITY_BASE_URL: ${{ secrets.COVERITY_REPORTS_BASE_URL }}
          COVERITY_TOKEN: ${{ secrets.COVERITY_REPORTS_TOKEN }}
          COVERITY_PROJECT_NAME: 'Intel-Tiber-Broadcast-Suite'
          COVERITY_USER: ${{ secrets.COVERITY_REPORTS_USER }}

      - name: prepare artifacts
        if: success()
        run: |
          mkdir ${{ github.workspace }}/cov-reports && cd ${{ github.workspace }}/cov-reports
          mv ${{ github.workspace }}/.github/coverity/*.csv .
          echo "Coverity reports for ${{ inputs.branch }} ${{ inputs.commit }}" > details.txt
      - name: 'coverity: upload reports'
        if: success()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: coverity-reports
          path: '${{ github.workspace }}/cov-reports'